// COLORS
$color-primary-light: #2f8ce2;
$color-primary-medium: #3e4ee2;
$color-primary-dark: #301af8;

$color-secondary-light: #fcc52e;
$color-secondary-medium: #ff8340;
$color-secondary-dark: #f75a06;

$color-tertiary-light: #1fe0e0;
$color-tertiary-medium: #13b1b1;
$color-tertiary-dark: #058383;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #ddd;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #999;
$color-grey-dark-2: #666;

// FONTS
$default-font-size: 1.6rem;